{% extends "_base.html" %}
{% comment %}
@author: aby
{% endcomment %}

{% load static i18n highlight %}
{% block doc-title %}
{%if request.GET.q %}{% trans 'Search' %}: {{request.GET.q}} | {% endif %}{{ block.super }} 
{% endblock %}
{% block search-form %}{% if not request.GET.q %}{{block.super}}{% endif %}{% endblock %}
{% block content %}
	{%if request.GET.q %}
	<div class=" ">
		<h5>{% trans 'Search'%}:</h5>
      <form class="" action="{% url 'haystack_search' %}" role="form">            
		    <div class="input-group">
		      <input type="text" name="q" class="form-control" value="{{request.GET.q}}" placeholder="{% trans 'Search' %} ...">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="submit"><i class="fa fa-search fa-lg"></i></button>
		      </span>
		    </div> 
      </form>
		<!--{% if suggestion %}<p>{% trans 'Suggestion'%}: <i>{{suggestion}}</i></p>{% endif %}--> 
	</div>
	{%endif%}
	<div class="topic-list">
  {% for t in object_list %}
  	<div class="topic-item clearfix" >
  	{% if t.object %} {# hay stack result #}
  		{% with t.object as o %}
  	<a href="{% url 'topic' o.slug %}">
      		<div class="topic-thumbnail" >
      		{% if o.thumbnail_url %}
      			<img {% if config.DEBUG_FRONT %} src="{% static 'img/logo.jpg' %}" {% else %} src="{{o.thumbnail_url}}" {% endif %} class="topic-img" >
      		{% else %}
      			<img src="{% static 'img/logo.jpg' %}" class="topic-img" >
          {% endif %}
      		</div>
      		<div class="topic-text">
					<h3>{{o.title}}</h3>
					<sup class="pull-right">{{t.score|floatformat:2}} &nbsp;<!--{% widthratio t.score 1 100 %}%--></sup>
          <p>{% highlight t.get_stored_fields.text with query %}</p>
          </div>
    </a>  		
  		{% endwith %}
  	{% else %}
  	<a href="{% url 'topic' t.slug %}">
      		<div class="topic-thumbnail" >
      		{% if t.thumbnail_url %}
      			<img {% if config.DEBUG_FRONT %} src="{% static 'img/logo.png' %}" {% else %} src="{{t.thumbnail_url}}" {% endif %} class="topic-img" >
      		{% else %}
      			<img src="{% static 'img/logo.png' %}" class="topic-img" >
          {% endif %}
      		</div>
      		<div class="topic-text">
					<h3>{{t.title}} </h3>
          <p>{{t.short_description}} </p>
          </div>
    </a>
    {% endif %}
  	</div>
  	<div class="divider"></div>
	{% empty %}
		<p>{% trans 'No result found' %}</p>
  {% endfor %}
  </div>
	{% if is_paginated %}
				<div class="row">
					<div class="col-md-12">
						<ul class="pagination centerhz"> 
						  <li class="{% if page_obj.number == 1 %}disabled{%endif%}"><a href="{% if page_obj.number == 1 %}#{%else%}?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% endif %}"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></a></li>
						  <li class="{% if not page_obj.has_previous %}disabled{%endif%}"><a href="{% if not page_obj.has_previous %}#{%else%}?page={{page_obj.previous_page_number}}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% endif %}"><i class="fa fa-chevron-left"></i></a></li>
							{% for pg in paginator.page_range %}
								{%if pg|add:"3" > page_obj.number and page_obj.number > pg|add:"-3" or 3 >= page_obj.number and 5 >= pg or  pg > paginator.num_pages|add:"-5" and page_obj.number|add:"2" > paginator.num_pages %}
						  	<li class="{% if page_obj.number == pg %}active{%endif%}"><a {% if page_obj.number == pg %}{%else%}href="?page={{pg}}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"{%endif%}>{{pg}}</a></li>
						  	{%endif%}
							{% endfor %}
						  <li class="{% if not page_obj.has_next %}disabled{%endif%}"><a href="{% if not page_obj.has_next %}#{%else%}?page={{page_obj.next_page_number}}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% endif %}"><i class="fa fa-chevron-right"></i></a></li>
						  <li class="{% if page_obj.number == paginator.num_pages %}disabled{%endif%}"><a href="{% if page_obj.number == paginator.count %}#{%else%}?page={{paginator.num_pages}}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% endif %}"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a></li>
						</ul>
					</div>
				</div>
	{% endif %}
				
{% endblock %}
                    